<div class="team placeholder">

  <h3 class="team-name"><%= team.name %></h3>
  <div class="team-members">
    <% team.mutants.each do |mutant| %>
      <div class="team-member" title="<%= mutant.name %>">
        <img data-src="holder.js/50x50/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
        <div class="team-member-name"><%= mutant.name %></div>
      </div>
    <% end -%>
  </div> <!-- team members -->

  <h4>Tasks</h4>
  <div class="team-tasks" id="<%= dom_id team %>_tasks">
    <% team.tasks.each do |task| %>
      <%= render task %>
    <% end -%>

    <div class="pxmo-checkbox-radio pxmo-checkbox-radio-editable">
      <%= form_for [team, Task.new], remote: true, 'data-type' => 'html',
            html: { id: dom_id(team) + '_new_task_form' } do |f| %>
        <input type="checkbox" disabled="disabled">
        <label>
          <%= f.text_field :description, placeholder: "Add new task", class: "new-task-input",
                'data-toggle' => "tooltip", 'data-trigger' => "focus", 'data-placement' => "bottom",
                title: "Press [enter] to add task" %>
        </label>
      <% end %>
    </div>
  </div> <!-- team tasks -->

</div> <!-- team -->
